body {
    background-color: #232323;
    margin: 0;
    font-family: Apple Chancery, cursive;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    background: darkcyan;
    color: white;
    text-align: center;
    line-height: 1.1;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: darkcyan;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

.selected {
    color: white;
    background: darkcyan;
}

#message {
    display: inline-block;
    width: 30%;
    text-align: center;
}

button:hover {
    color: white;
    background: darkcyan;
}